<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Config -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core_rt</taglib-uri>
            <taglib-location>/WEB-INF/lib/jstl.jar</taglib-location>
        </taglib>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>com.efrei.projetfinal.IndexServlet</welcome-file>
    </welcome-file-list>

    <!-- Servlets -->
    <!--<servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class></servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->

    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>com.efrei.projetfinal.ConnexionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>com.efrei.projetfinal.InscriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApprentiInfoServlet</servlet-name>
        <servlet-class>com.efrei.projetfinal.ApprentiInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApprentiInfoServlet</servlet-name>
        <url-pattern>/apprenti-infos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WelcomeApprentiServlet</servlet-name>
        <servlet-class>com.efrei.projetfinal.WelcomeApprentiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeApprentiServlet</servlet-name>
        <url-pattern>/welcome-apprenti</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WelcomeTuteurServlet</servlet-name>
        <servlet-class>com.efrei.projetfinal.WelcomeTuteurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeTuteurServlet</servlet-name>
        <url-pattern>/welcome-tuteur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>io.undertow.servlet.handlers.DefaultServlet</servlet-class>
        <init-param>
            <param-name>allowed-extensions</param-name>
            <param-value>xml</param-value>
        </init-param>
        <init-param>
            <param-name>directory-listing</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>resolve-against-context-root</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/css/*</url-pattern>
        <url-pattern>/assets/fonts/*</url-pattern>
    </servlet-mapping>

    <!-- Filtres -->
    <!--<filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.efrei.projetfinal.AuthentificationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>com.efrei.projetfinal.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>